.inputBox {
    
    input {

        color: var(--grey1);
        width: 100%;
        height: 3rem;
        outline: 0;

    }
    button {
        color: var(--grey1);
    }
}

.divInput {
    display: inline-flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0 18px;
    color: var(--grey1);
    width: 100%;
    background: var(--grey2);
    margin-top: 9.6px;
    align-items: center;
    text-align: center;
}
.divInput:hover{
    border: 1px solid white;
}
.error{
    color: var(--color-primary);
    margin-top: 6px;
    font-size: 10px;
}