
%buttonDefaults{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    transition: .4s;
}
.btn{
    @extend %buttonDefaults;
}
.link{
    @extend %buttonDefaults;
}
