.tech{
    background-color: #121214;
    padding: 10px 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    flex-wrap: wrap;
}
.infoTech{
    color: #868E96;
    display: flex;
    gap: 8px;
    font-size: 12.182px;
    align-items: center;
}
.buttonEdit{
    color: white;
}
.buttonDelete{
    color: white;

}
.titleTech{
    font-size: 14.21px;
    color: #fff;
}